body {
    font-family: Arial; /*css조건 5번 만족*/
    text-align: center; /*css조건 3번 만족*/
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQedZzOMdGnc_UHZ3li-1VJYJ1g89HjUagvOw&s"); /*css조건 4번 만족*/
    font-family: 'GangwonEducationSaeum'; /*css조건 5번 만족*/
}
@font-face {
    font-family: 'GangwonEducationSaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/GabiaOndam-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
